.kaufman {
    margin: auto;
    background-color: #1f1f1f;
    color: white;
    padding-top: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-flow: column;
    position: relative;
  }