.kaufman__triangle {
    background-image: url("../../../images/kaufman-triangle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 877px;
    height: 877px;
    z-index: 2;
    position: absolute;
    top: 0;
    right: -210px;
    }