.footer__column-links {
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    margin-bottom: 16px;
    opacity: 1;
  }